@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-landing {
    position: relative; /* Positioning context for the pseudo-element */
    background-image: url('../images/bg-image-lcup.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-landing::before {
    content: ''; /* Required for pseudo-element */
    position: absolute; /* Position it over the background */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(11, 33, 71, 0.3); /* Primary color with 50% opacity */
    z-index: 1; /* Ensure it sits above the background image */
}

/* Ensure content within .bg-landing is above the overlay */
.bg-landing > * {
    position: relative; /* Positioning context for child elements */
    z-index: 2; /* Ensure content is above the overlay */
}

/* cursor */

#cursor {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Hidden elements */
.is-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.is-shown {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion: no-preference) {
    .invisible {
      transition: all 1s;
    }
}
