@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-landing {
    position: relative;
    background-image: url('../images/bg-image-lcup.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This creates the parallax effect */
    height: 100vh; /* Set a specific height */
    overflow: hidden; /* Ensures the pseudo-element doesn't create scrollbars */
}

.bg-landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(11, 33, 71, 0.4);
    z-index: 1;
}

.bg-landing > * {
    position: relative;
    z-index: 2;
}

/* cursor */

#cursor {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Hidden elements */
.is-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.is-shown {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.avatar:nth-child(2) {
    transition-delay: 200ms;
}

.avatar:nth-child(3) {
    transition-delay: 400ms;
}

.avatar:nth-child(4) {
    transition-delay: 600ms;
}

@media (prefers-reduced-motion: no-preference) {
    .invisible {
      transition: all 1s;
    }
}
