@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-landing {
    background-image: url('../images/al-nik-conf-room-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
}

.layout-section {
    min-height: 100vh; /* Ensures each section takes full viewport height */
    display: flex; /* Flexbox for centering content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    transition: background-color 0.3s ease; /* Smooth transition for background changes */
}