@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Excon-Bold';
  src: url('../fonts/Excon-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* custom bg pattern */
.custom-bg {
    background-image: url('../images/welcome-images/custom-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* typing effect for landing page */

#cursor {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Hidden elements for about page*/
.is-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.is-shown {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.avatar:nth-child(2) {
    transition-delay: 200ms;
}

.avatar:nth-child(3) {
    transition-delay: 400ms;
}

.avatar:nth-child(4) {
    transition-delay: 600ms;
}

@media (prefers-reduced-motion: no-preference) {
    .invisible {
      transition: all 1s;
    }
}